{
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true
  }
}
